.step-carousel {
  overflow: hidden;
  margin: 0 auto;
}

.step-width {
    position: relative;
    transition: 1s;
}

.step-slide {
    float: left;
}

.step-left,
.step-right {
  position: absolute;
  z-index: 5;
  cursor: pointer;
}
