*{margin:0;padding:0;}
.clearfix:after{content:"";display:table;clear:both;}
.flex{display:-webkit-box;display:-ms-flexbox;display:flex;}

/* font-family: "AlexanderRegular"; */
@font-face {
    font-family: "AlexanderRegular";
    src: url("../fonts/AlexanderRegular/AlexanderRegular.eot");
    src: url("../fonts/AlexanderRegular/AlexanderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AlexanderRegular/AlexanderRegular.woff") format("woff"),
    url("../fonts/AlexanderRegular/AlexanderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  min-width: 1349px;
}

ul {
  list-style: none;
}

body {
  background: url("../img/bg.jpg") top center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  font-family: "AlexanderRegular", sans-serif;
}

.container {
  width: 1349px;
  margin: 0 auto;
  padding: 0 54px;
}

header .container div {
  vertical-align: top;
  display: inline-block;
}

header h2 {
  text-align: center;
  color: #ce0612;
  margin-top: 15px;
  margin-bottom: 10px;
}

header .main-nav li {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  text-align: center;
}

.header-mid {
  margin-left: 25px;
  margin-right: 40px;
}

.dropdown {
  position: relative;
}

header .main-nav > li > a,
header .main-nav > li > span {
  position: relative;
  color: #576472;
  font-size: 18px;
  padding: 8px 15px;
  border-bottom: 1px solid #d7afbf;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition:0.25s;
  transition: 0.25s;
  margin: 0 5px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}

header .main-nav > li > a::after {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  width: 100%;
  height: 0;
  -webkit-transition:height 0.5s;
  transition: height 0.5s;
  background: -webkit-linear-gradient(top, rgba(232,196,198,1) 0%,rgba(232,196,198,0.99) 1%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom, rgba(232,196,198,1) 0%,rgba(232,196,198,0.99) 1%,rgba(125,185,232,0) 100%);
}

header .main-nav > li:hover > a::after {
  height: 20px;
}

header .main-nav > li > span span {
  margin-right: 3px;
  -webkit-transition:0.25s;
  transition: 0.25s;
  display: inline-block;
}

header .main-nav li a:hover,
header .main-nav > li:hover > span {
  font-weight: 600;
}

header .main-nav li:hover span span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .sub-nav li {
  display: block;
  text-align: left;
  padding-left: 29px;
}

header .sub-nav li a {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid white;
  text-decoration: none;
  -webkit-transition:0.25s;
  transition: 0.25s;
}

header .sub-nav li a:hover {
  text-shadow: 2px -3px 10px rgba(255, 255, 255, 1);
}

.dropdown:hover .sub-nav {
  opacity: 1;
  height: 290px;
  visibility: visible;
}

.sub-nav {
  position: absolute;
  top: 100%;
  left: 5px;
  z-index: 10;
  width: calc(100% - 10px);
  background: -webkit-linear-gradient(top, rgba(232,196,198,1) 0%,rgba(232,196,198,0.99) 1%,rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(top, rgba(232,196,198,1) 0%,rgba(232,196,198,0.75) 50%,rgba(232,196,198,0.50) 80%,rgba(125,185,232,0) 100%);
  background: linear-gradient(to bottom, rgba(232,196,198,1) 0%,rgba(232,196,198,0.75) 50%,rgba(232,196,198,0.50) 80%,rgba(125,185,232,0) 100%);
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition:height 0.5s;
  transition: height 0.5s;
}

.header-right {
  text-align: right;
  padding-top: 5px;
}

.header-right p {
  font-size: 16px;
  color: #576472;
}

.header-right a {
  font-size: 20px;
  color: #ce0612;
  text-decoration: none;
}

.title,
.title2 {
  text-align: center;
}

.title h2,
.title2 h2 {
  text-align: center;
  color: #576472;
  display: inline-block;
  padding: 0 15px;
  padding-top: 15px;
}

section.contact {
  margin-bottom: 20px;
}

.title2 h2,
p.contact i {
  color: #ce0612;
}

p.contact i {
  margin-right: 10px;
  font-size: 19px;
}

p.contact {
  padding: 5px 0;
}

p.contact,
p.contact a {
  color: #576472;
  font-size: 18px;
  text-decoration: none;
}

.nleft,
.nright {
  width: 450px;
}

.nleft2,
.nright2 {
  width: 400px;
  vertical-align: baseline;
}

.nleft {
  float: left;
}

.nright {
  float: right;
}

.features ul {
  padding: 20px 175px;
}

.features ul li {
  width: 49%;
  vertical-align: top;
  display: inline-block;
  color: #576472;
  font-size: 18px;
}

.features ul li img {
  float: left;
}

.features ul li span {
  padding: 25px 15px;
  display: block;
  margin-left: 130px;
  padding-top: 30px;
}

.banner img {
  width: 100%;
}

.reviewer {
  padding: 25px 130px;
}

.reviewer img {
  float: left;
}

.reviewer p:first-of-type {
  color: #576472;
  font-size: 18px;
  /*margin-left: 360px;*/
}

.reviewer p:last-of-type {
  text-align: right;
  font-size: 18px;
  color: #ce0612;
}

.reviewer p:first-of-type span {
  font-size: 58px;
  display: block;
  position: relative;
}

.reviewer p:first-of-type span:first-child {
  left: -25px;
}

.reviewer p:first-of-type span:last-child {
  text-align: right;
  right: -25px;
}

.slider {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.65);
}

.slide-btn {
  position: absolute;
  left: 45%;
  bottom: 70px;
  border-radius: 10px;
  background: rgba(214, 51, 61, 0.7);
  padding: 15px 45px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition:0.25s;
  transition: 0.25s;
}

.slide-btn:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(214, 51, 61, 0.9);
}

.carousel-control {
  padding-top: 200px;
}

footer {
  background-color: #576472;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin-top: 45px;
}

.foot-right {
  float: right;
  vertical-align: top;
  text-align: right;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  display: block;
  padding: 15px 0;
  margin-left: 25px;
  color: white;
  font-size: 16px;
}

footer ul li a:hover {
  color: white;
}

footer .social i {
  font-size: 32px;
  color: #fff;
  margin-left: 25px;
  -webkit-transition:0.25s;
  transition: 0.25s;
}

footer .social:hover i,
footer .infoinstant a:hover {
  color: #ce0612;
}

footer .infoinstant {
  font-size: 18px;
  color: #fff;
  margin: 8px 0;
  display: inline-block;
  border-top: 1px solid #fff;
  padding-left: 35px;
}

footer .infoinstant a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition:0.25s;
  transition: 0.25s;
}

footer button {
  position: absolute;
  top: -32px;
  right: 50px;
  background: #d6363f;
  border: none;
  padding: 5px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 8px 5px -6px rgba(0,0,0,0.45);
  -webkit-transition:0.25s;
  transition: 0.25s;
}

footer button:hover {
    background: #e6464f;
}

/*-_-Второстепенные-_-'*/

.price-list {
  padding: 5px 0;
}

.price-list a {
  color: #d6363f;
  text-decoration: none;
  font-size: 16px;
}

.price-list span {
  margin-right: 10px;
}

.pl-block {
  padding-left: 22px;
}

.pl-block span {
  color: #576472;
  font-size: 16px;
  padding: 3px 0;
  font-family: 'Open Sans', sans-serif;
}

.pl-top {
  border-bottom: 1px solid #d6363f;
}

.pl-top span {
  font-weight: 600;
}

.pl-block .list-right {
  float: left;
}

.pl-block .list-right {
  float: right;
}

.needle {
  margin-top: -60px;
}

article p {
  color: #576472;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 100px;
  font-size: 18px;
}

img.about {
  padding: 10px 100px;
  width: 100%;
}

.service {
  background: url('../img/serv1.jpg') no-repeat;
  background-size: 100%;
  color: #576472;
  padding: 25px 100px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
}

.gallery {
  position: relative;
  color: #576472;
  padding: 25px 100px;
  font-family: 'Open Sans', sans-serif;
}

.service div {
  font-size: 18px;
  margin: 8px 0;
}

.service div img {
  margin-right: 10px;
}

.service h3,
.gallery h3 {
  font-size: 22px;
  margin+border-bottom: 25px;
  text-align: center;
}

.step-carousel {
  width: 890px;
  padding: 30px 0;
}

.step-slide {
  width: 300px;
  padding-right: 10px;
}

.step-slide img {
  width: 100%;
}

.step-slide:last-child {
  margin-right: 0;
}

.step-left {
  left: 0;
}

.step-right {
  right: 0;
}

.step-left,
.step-right {
  opacity: 0.2;
  -webkit-transition:0.25s;
  transition: 0.25s;
  top: 250px;
}

.step-left:hover,
.step-right:hover {
  opacity: 0.75;
}

.podrobnosty {
  padding-top: 25px;
}

.podrobnosty p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.podrobnosty p a {
  color: #d6363f;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}

.podrobnosty .tel {
  padding: 25px 0;
}

footer .btn-center {
  left: 45%;
}

.angle > span {
  display: inline-block;
  -webkit-transition:0.25s;
  transition: 0.25s;
}

.angle.active {
  font-weight: 600;
}

.angle.active > span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.price p {
  color: #576472;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 15px 75px;
}

#accordion {
  padding: 10px 120px;
}

.modal-content {
  background: url("../img/swirl.png");
  background-color: #fff;
}

.modal-content h2 {
  text-align: center;
  color: #ce0612;
}

.callback input,
.callback textarea {
  padding: 10px 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
  display: block;
  font-size: 18px;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
}

.modal-backdrop {
  background-color: #fff;
}
/* Дополнения */

.services {
  background: url("../img/serv2.jpg") no-repeat;
  max-width: 1241px;
  padding-bottom: 30px;
    box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.65);
}

.services .title h2 {
  color: #fff;
}

.opinions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.serv-link {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 10px 50px;
  cursor: pointer;
  -webkit-transition:0.25s;
  transition: 0.25s;
  max-width: 398px;
  max-height: 193px;
}

.serv-link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.serv-link .serv-ico {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
}

.serv-link_title {
  position: absolute;
  top: 105px;
  left: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

.shoping {
  padding-top: 15px;
  padding-bottom: 25px;
}

.shoping .title h2 {
  color: #000;
}

.shoping .title img {
  max-width: 375px;
}

.photos {
  width: 60%;
  display: inline-block;
  padding-top: 25px;
  padding-left: 60px;
}

.shoping .description {
  padding-top: 25px;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.shoping .description p {
  font-size: 24px;
}

.shoping .description ul {
  padding-top: 10px;
  padding-bottom: 90px;
}

.shoping .description ul li:first-child {
  padding-left: 20px;
}

.shoping .description ul li {
  font-size: 20px;
}

.italic {
  font-style: italic;
}
